<h1 class="mt-5">Stupid Coaching</h1>

<h3 >Ask your coach anything</h3>
  <form action="/answer" data-turbo="false" method ="get"	>
  	<div class="row">
  		<div class="col-8">
		    <input type="text" name="content" class=" form-control">
  		</div>
		<div class="col-4 ps-0">	
		    <button type="submit" value="Ask!" class="btn btn-primary">Ask
		    </button> 	

			</div>
  	</div>
 </form>


